django==5.1.4
flake8
psycopg2-binary
dj-database-url
django-filter
djangorestframework
djangorestframework-simplejwt
django-cors-headers
drf-spectacular
PyYAML
whitenoise
django-rest-swagger
django-countries-plus
requests
iso8601
celery
maxminddb-geolite2
redis
honcho
gunicorn
django-tinymce
mypy
django-stubs
djangorestframework-stubs
webargs
pytz
debugpy==1.6.7